.slider{
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

.card__btn{
    margin: 20px;
    background-color: rgb(129, 244, 146);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.card_number{
    display: flex;
    flex-direction: column;
    align-items: center;
}